body {
	font-family: 'Bariol', serif, Helvetica;
	font-size: 14px;
	background-color: white;
}

h1 {
	font-weight: 1000;
	width: 1000px;
}

a {
	color: white;
}

.main-content {
	max-width: 1000px;
	
}

.about-section {
	height: 610px;
	max-width: 600px;
	font-size: 18px;
	margin: 40px 0px 0 190px;
	padding-right: 15px;
}

.about-section a{
	color: #9b59b6;
}

.main-nav .bg-blue, .main-nav .bg-red,
.main-nav .bg-green, .main-nav .bg-orange{
	transition: background-color 1s;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

.bg-red {background-color: #e74c3c;} 
.bg-green {background-color: #2ecc71;}
.bg-purple {background-color: #9b59b6;}
.bg-blue {background-color: #3498db;}
.bg-darkblue {background-color: #34495e;}
.bg-orange {background-color: #e67e22;}

.bg-clouds {background-color: #ecf0f1;}
.bg-silver {background-color: #bdc3c7;}
.bg-concrete {background-color: #95a5a6;}


.main-nav .bg-red:hover {background-color: #c0392b;} 
.main-nav .bg-blue:hover {background-color: #2980b9;}
.main-nav .bg-green:hover {background-color: #27ae60;}
.main-nav .bg-purple:hover {background-color: #8e44ad;}
.main-nav .bg-orange:hover {background-color: #d35400;}

#mobileNav .bg-red:hover {background-color: #c0392b;}
#mobileNav .bg-green:hover {background-color: #27ae60;}
#mobileNav .bg-blue:hover {background-color: #2980b9;}

.highlighted {
	outline: 3px solid #3498db;
	opacity: 1;
}

.highlighted2 {
	outline: 3px solid #e74c3c;
	opacity: 1;
}

.highlighted3 {
	outline: 3px solid #2ecc71;
	opacity: 1;
}

/* ----- HEADER ----- */

header {
	text-align: center;
	width: 100%;
}

.main-title {
	font-size: 44px;
	line-height: 24px;
}



/* ----- MAIN NAV ----- */

.main-nav {
	background-color: #ecf0f1;
	width: 1000px;
}

.main-nav ul {
	list-style: none;
	padding-left: 0;
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	text-align: left;
	left: 184px;
	right: 40px;
	position: relative;
}

.main-nav li {
	border-left: 4px solid white;
	float: left;
	height: 40px;
	width: 200px;
	position: relative;
}

.main-nav li a {
	width: 200px;
	height: 40px;
	font-size: 18px;
	font-family: 'Bariol', 'Sintony', sans-serif;
	padding-top: 12px;
	text-align: center;
	text-decoration: none;
	position: absolute;
}

.main-nav li:last-child {
	border-right: 4px solid white;
}

.main-nav li:first-of-type{
	display: none;
}

.mobile-title {
	font-size: 18px;
	color: white;
	display: none;
}

#mobileNav, .active {
	display: none;
	}

/* -----SLIDER ------ */

/* INACTIVE
#about-us {
	font-size: 16px;
	width: 600px;
	margin-left: 90px;
	display: none;
}

#about a {
	color: #2ecc71;
}
*/

#about-us {
	display: none;
}


.feature-slider {
	height: 250px;
	padding-left: 100px;
	border-bottom: 1px dotted black;
	box-sizing: border-box;
}

.intro-pic {
	float: left;
}


.intro-text {
	padding-top: 50px;
	margin-left: 50px;
	max-width: 358px;
	float: left;
	font-size: 20px;
}

#intro-button {
	height: 55px;
	width: 220px;
	font-family: 'Bariol', serif;
	background: orange;
	color: white;
	margin-top: 2px;
	margin-left: 15%;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    opacity: 0.5;
}

#intro-button:hover {background-color: #e67e22;}
.announcement {display: none;}
#intro-button:hover .status {display: none;}
#intro-button:hover .announcement {display: inline;}


#order-button1, #order-button2, #order-button3 {
	height: 40px;
	width: 200px;
	font-size: 22px;
	font-family: 'Bariol', serif;
	background: orange;
	color: white; 
	margin-left: 31%;
	border: none;
	display: none;
}

#order-button1:hover,
#order-button2:hover,
#order-button3:hover {
	background-color: #d35400;
}

#order-button1 .order-status {display: none;}
#order-button1:hover .ordernow {display: none;}
#order-button1:hover .order-status {display: inline;}

#order-button2 .order-status {display: none;}
#order-button2:hover .ordernow {display: none;}
#order-button2:hover .order-status {display: inline;}

#order-button3 .order-status {display: none;}
#order-button3:hover .ordernow {display: none;}
#order-button3:hover .order-status {display: inline;}

/* ----- BUTTONS ----- */

.column-third {
	width: 30%;
	float: left;

}

#button1 {
	margin-left: 75%;
}

#button2 {
	margin-left: 42%;
}

#button3 {
	margin-left: 9%;

}

.gray-border {
	border: 1px solid #bdc3c7;
}

/* ----- BADGER DISPLAY ---- */

#choose-title {
	text-align: center;
	font-size: 33px;

	
}

img#single-badger {
	display: none;
}

img#single-badger-clear {
	opacity: 0.5;
	padding-left: 2em;
	padding-right: 4em;
}

img#double-badger {
	display: none;
}

img#quadruple-badger {
	display: none;
}

.badger-display .column-half {
	width: 45%;
	height: 200px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.badger-pop, .badger-pop2 {
	margin-left: 25%;
}

#badger-text-clear {
	opacity: 0.5;
	display: block;
	text-align: left;
	padding-top: 50px;
	font-size: 20px;
}

.badger-result {
	display: none;
	font-size: 22px;
	text-align: center;
	width: 80%;
}

.badger-result-text {
	display: none;
	font-size: 18px;
	width: 80%;
}

.order-box {
	margin-right: 40%;
}

/* ----- STATS ----- */

.columnn-fifth {
	width: 19%;
	float: left;
	text-align: center;
	font-size: 14px;
	padding-top: 12px;
	margin-top: 20px;
	margin-bottom: 40px;
	border-top: 1px dotted #2980b9;
	border-bottom: 1px dotted #2980b9;
}



.columnn-fifth .counter {
	font-size: 32px;
}

.stats-text, .stats-text2 {
	text-align: center;
}

/* ----- SERVICES----- */
/* .services { display: table;} */

.column-quarter {
	/* display: table-cell; */
	width: 23%;
	height: 282px;
	margin-top: 50px;
	margin-right: 0.3%;
	margin-left: 0.6%;
	padding: 20px 15px 5px 15px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	border: 1px dotted #bdc3c7;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* tooltip? 
.tooltipsy {
	/*
    
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 120px;
  }
  */

.column-quarter:first-child {
	margin-left: 1.4%;
}

.services .column-quarter{
	margin-top: 40px;
}


.services .column-quarter  p,
.services2 .column-quarter p {
	color: black;
	text-align: left;
	text-decoration: none;
	font-size: 16px;
}

.services h2{
	line-height: 0.5;
}

.services2 .column-quarter {
	margin-top: 45px;
	margin-left: 0.6%;
	width: 23%;
}

.services .column-quarter h2 a,
.services2 .column-quarter h2 a {
	text-decoration: none;
	color: #d35400;
}

#services2 {
	display: none;
}

.services img, 
.services img{
	border: 1px solid #bdc3c7;
	border-radius: 10px;
}

/* When "Services" is clicked, go here */

#services-title {
	text-align: center;
	font-size: 30px;
	margin-right: 2.5%;
	height: 2px;
	margin-top: 500px;
	padding-top: 20px;
}

#button-more-box {
	width: 100%;
	float: left;
	margin-top: 40px;
	margin-left: 38%;
}

#button-more {
	height: 45px;
	width: 200px;
	font-size: 22px;
	font-family: 'Bariol', serif;
	background: orange;
	color: white;
	border: none; 
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

#button-more:hover {background-color: #e67e22;}


/* ----- QUOTES ----- */

.column-third p{
	padding: 20px;
	text-align: center;
	font-size: 16px;
}

/* ----- FOOTER ----- */
footer {
	width: 1000px;
	max-width: 100%;
	color: white;
}

footer .column-half {
	float: left;
	width: 50%;
	padding: 20px;
	line-height: 0.5;
	height: 110px;
	box-sizing: border-box;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	color: #8e44ad;
}


/* ---- CLEARFIX ---- */

/*
.clearfix:after {
   content: " "; /* Older browser do not support empty content 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

*/
@media only screen and (min-device-width : 569px) and (max-width: 900px) {

	.main-content {
	width: 767px;
	}

	h1 {
	max-width: 767px;
	}

	.about-section {
	margin: 40px 0 0 92px;
	}

	#mobileNav, .active {
	display: none;
	}

	.main-nav {
	width: 767px;
	}

	.main-nav ul {
	width: 767px;
	left: 90px
	}

	.main-nav li {
	border-left: 4px solid white;
	width: 186.75px;
	}
											/* 569 - 767 */
	.main-nav li a {
	width: 186.75px;
	}

	.feature-slider {
	border-bottom: 1px dotted black;
	}

	#choose-title {
	width: 100%;
	}

	.slide-image {
	width: 70%;
	height: 70%;
	}

	.column-half .intro-pic {
	border: 1px solid black;
	}

	.intro-text {
	width: 287px;
	padding-top: 10px;
	margin-left: 20px;

	}

	#intro-button {
	margin-left: 0%;
	}

	.feature-slider {
	height: 180px;
	}

	#button1 {
	margin-left: 70%;
	}

	#button2 {
	margin-left: 37%;
	}

	#button3 {
	margin-left: 4%;

	}

	.badger-result-text {
	width: 90%;
	}

	.order-box {
	margin-right: 65%;
	}
										/* 569 - 767 */

	.column-quarter {
	font-size: 12px;
	height: 300px;
	}

	#button-more-box {
	margin-left: 35%;
	}


}

@media only screen and (min-device-width : 481px) and (max-width: 568px) {

	.main-nav {
	width: 100%;
	}

	.main-content {
	width: 568px;
	}

	.about-section {
	margin: 40px 0 0 40px;
	max-width: 558px;
	}

	#mobileNav {
	display: none;
	width: 568px;
	position: absolute;
	}

	#mobileNav ul {
	padding: 0;
	margin: 0;
	}

	#mobileNav ul li{
	display: block;
	float: right;
	height: 50px;
	width: 100%;
	}

	#mobileNav ul a li{
	height: 50px;
	line-height: 2.4;
	font-size: 18px;
	}
										/* 481 - 568 */
	h1 {
	display: none;
	}

	.main-nav ul {
	left: 0px
	}

	.main-nav ul{
	background-color: black;
	width: 100%;
	}

	.main-nav li {
	display: none;
	border-left: none;
	}

	.main-nav ul li:first-of-type{
	display: block;
	float: right;
	width: 160px;
	}

	.main-nav .mobile-title {
	display: block;
	float: left;
	padding-left: 20px;
	}
										/* 481 - 568 */
	.feature-slider {
	width: 568px;
	height: 160px;
	padding-left: 20px;
	border-bottom: none;
	}

	.slide-image{
	display: none;
	}

	.intro-text {
	padding-top: 20px;
	margin-left: 60px;
	width: 400px;
	}

	#intro-button {
	width: 360px;

	}

	#choose-title {
	text-align: center;
	font-size: 22px;
	width: 568px;
	}
											/* 481 - 568 */
	.badger-button {
	width: 75%;
	height: 75%;
	}
												/* 461 - 480 */
	
	.column-third {
	width: 28%;
	}

	#button1 {
	margin-left: 67px;
	}

	#button2 {
	margin-left: 57px;
	}

	#button3 {
	margin-left: 47px;
	}

	.badger-display .column-half {
	width: 264px;
	}

	.badger-pop, .badger-pop2 {
	margin-left: 0;
	}
	
	#badger-text-clear {
	font-size: 19px;
	width: 80%;
	}

	.badger-result {
	font-size: 18px;
	}
												/* 481 - 568 */
	.badger-result-text {
	font-size: 16px;
	}

	.order-box {
	margin-right: 80%;
	}

	.columnn-fifth {
	width: 19%;
	font-size: 12px;
	}

	.columnn-fifth .counter {
	font-size: 30px;
	}

	#services-title {
	margin-right: 5.5%;
	}

	.column-quarter {
	width: 42%;
	margin-left: 1.5%;
	height: 285px;
	}
												/* 481 - 568 */
	.services .column-quarter{
	margin-left: 2.5%;
	}

	.services2 .column-quarter {
	width: 43%;
	margin-left: 1.5%;
	margin-top: 20px;
	height: 285px;
	}

	.services .column-quarter  p,
	.services2 .column-quarter p {
	font-size: 16px;
	}

	.services h2, .services2 h2{
	line-height: 0.5;
	font-size: 18px;
	}

	#button-more-box {
	width: 400px;
	margin-top: 20px;
	margin-left: 30%;
	float: left;
	}

	.column-third p{
	margin-right: 25px;
	}


}


@media only screen and (min-device-width : 461px) and (max-width: 480px) {

	.main-content {
	width: 480px;
	}

	#mobileNav {
	width: 480px;
	}

	.intro-text {
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 40px;
	font-size: 18px;
	}

	#intro-button {
	margin-top: 5%;
	width: 90%;
	}

	#choose-title {
	width: 100%;
	}

	.badger-button {
	width: 75%;
	height: 75%;
	}
												/* 461 - 480 */
	#button1 {
	margin-left: 57px;
	}

	#button2 {
	margin-left: 47px;
	}

	#button3 {
	margin-left: 37px;
	}

	#single-badger-clear {
	width: 60%;
	height: 60%;
	}

	.badger-display .column-half {
	width: 200px;
	height: 180px;
	}

	.badger-new {
	margin-top: 10px;
	margin-left: 10px;
	width: 80%;
	height: 80%;
	}
												/* 461 - 480 */
	#single-badger-clear {
	padding-top: 30px;
	}
	
	#badger-text-clear {
	font-size: 17px;
	width: 100%;
	padding-top: 50px;
	}

	.badger-result {
	font-size: 17px;
	}
	
	.badger-result-text {
	width: 95%;
	}

	.order-box {
	margin-right: 100%;
	}

	#order-button1, #order-button2, #order-button3 {
	width: 160px;
	}

	#services-title {
	margin-right: 30px;
	line-height: 0;
	}
													/* 461 - 480 */
	.column-quarter {
	/* display: table-cell; */
	width: 42%;
	margin-left: 3%;
	margin-top: 50px;
	height: 285px;
	}

	.services2 .column-quarter {
	width: 42%;
	margin-left: 3%;
	height: 285px;
	margin-top: 20px;
	}

	.services .column-quarter{
	margin-top: 20px;
	}

	.columnn-fifth {
	margin-top: 30px;
	width: 19%;
	}

	#button-more-box {
	margin-left: 25%;
	}

	footer {
	font-size: 11px;
	}

}

@media only screen and (min-device-width : 320px) and (max-width: 460px) {

	.main-content {
	width: 460px;
	}

	#mobileNav {
	width: 460px;
	}

	#mobileNav a li {
	margin-right: 6%;
	}

	.feature-slider {
	width: 460px;
	}

	.intro-text {
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 30px;
	width: 320px;
	}

	#intro-button {
	width: 90%;
	}			
												/* 320 - 460 */
	#choose-title {
	width: 85%;
	}

	.badger-button {
	width: 70%;
	height: 70%;
	}

	#button1 {
	margin-left: 35px;
	}

	#button2 {
	margin-left: 25px;
	}

	#button3 {
	margin-left: 15px;
	}

	#single-badger-clear {
	width: 60%;
	height: 60%;
	}

	.badger-display .column-half {
	width: 200px;
	height: 180px;
	}
												/* 320 - 460 */
	.badger-new {
	margin-top: 10px;
	margin-left: 10px;
	width: 70%;
	height: 70%;
	}
	
	#badger-text-clear {
	font-size: 16px;
	width: 85%;
	padding-top: 50px;
	}

	.badger-result {
	font-size: 16px;
	}
	
	.badger-result-text {
	font-size: 15px;
	width: 90%;
	}

	.order-box {
	margin-right: 100%;
	}

	#order-button1, #order-button2, #order-button3 {
	width: 160px;
	}

	#services-title {
	margin-right: 15.5%;
	font-size: 28px;
	}

	.column-quarter {
	/* display: table-cell; */
	width: 38%;
	margin-top: 0px;
	height: 285px;
	margin-left: 2.5%;
	}

	.services2 .column-quarter {
	width: 38%;
	height: 285px;
	margin-left: 2.5%;
	}

	.columnn-fifth {
	margin-top: 25px;
	width: 21%;
	}
													/* 320 - 460 */
	.columnn-fifth:first-child {
	display: none;
	position: absolute;
	}

	#button-more-box {
	margin-left: 20%;
	}


}

