/* -----SLIDER ------ */



.feature-slider {
	width: 1000px;
	height: 250px;
	padding-left: 100px;
	box-sizing: border-box;
}

.intro-pic {
	float: left;
}


.intro-text {
	padding-top: 50px;
	margin-left: 50px;
	width: 450px;
	float: left;
	font-size: 20px;
}

#intro-button {
	height: 40px;
	width: 200px;
	font-family: 'Bariol', serif;
	background: orange;
	color: white;
	margin-top: 5px;
	margin-left: 25%;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#intro-button:hover {background-color: #e67e22;}

#order-button1, #order-button2, #order-button3 {
	height: 40px;
	width: 200px;
	font-size: 22px;
	font-family: 'Bariol', serif;
	background: orange;
	color: white; 
	margin-left: 31%;
	border: none;
	display: none;
}