/* ----- SPECIALTIES ----- */
/* .specialties { display: table;} */

.column-quarter {
	/* display: table-cell; */
	width: 25%;
	margin-top: 10px;
	padding: 20px 15px 5px 15px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.specialties .column-quarter  p,
.specialties2 .column-quarter p {
	color: black;
	font-family: 'Bariol', sans-serif;
	text-align: left;
	text-decoration: none;
	font-size: 18px;
}

.specialties h2{
	line-height: 0.5;
}

.specialties2 .column-quarter {
	margin-top: 45px;
	width: 25%;
}

.specialties .column-quarter h2 a,
.specialties2 .column-quarter h2 a {
	text-decoration: none;
	color: black;
	font-family: 'Bariol', sans-serif;
	
}

#specialties2 {
	display: none;
}

.specialties img, 
.specialties2 img{
	border: 1px solid #bdc3c7;
}

#button-more-box {
	width: 100%;
	float: left;
	margin-top: 40px;
	margin-left: 40%;
}

#button-more {
	height: 45px;
	width: 200px;
	font-size: 22px;
	font-family: 'Bariol', serif;
	background: orange;
	color: white;
	border: none; 
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

#button-more:hover {background-color: #e67e22;}